// Place all the styles related to the user/register controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*:focus {outline: none;}

#td_sex #td_faculty #td_chair #td_military_rank #td_scientific_rank #td_post
{
  height: 40px
}

select
{
  font-size: 15px;
  height: 30px;
  width: 400px;
  font-family: verdana, sans-serif;

}